body{
	padding-top:60px;
}
.error{
	color:red;
}
hr {
	margin: 5px 0;
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}
div small {
	padding:0px 0px 0px 200px;
}
small span {
	padding-left: 20px;
}